/* stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  position: fixed;
}

.header-nav {
  display: flex;
}

.nav-menu {
  display: none;
}

.logo-top {
  width: 150px;
  height: 40px;
  padding-left: 20px;
}

.menu-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
  padding-left: 160px;
}

.menu-button-burger {
  width: 30px;
  height: 4px;
  background: #6070ff;
}

.menu-button-burger::before,
.menu-button-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #6070ff;
}

.menu-button-burger::before {
  transform: translateY(-8px);
}

.menu-button-burger::after {
  transform: translateY(8px);
}

a:hover {
  color: blue;
}

.headline {
  background-image: url("../images/header-bg-mobile.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 40px;
}

.main-heading {
  color: #091e42;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.details {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 320px;
}

.social-link-heading {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-link-icons {
  display: flex;
  align-items: baseline;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-links {
  padding-left: 20px;
}

.projects {
  display: grid;
  padding-left: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}

.snapshoot.body1 {
  width: 295px;
  height: 220px;
  background-color: #eab676;
}

.snapshoot.body2 {
  width: 295px;
  height: 220px;
  background-color: #e28743;
}

.project.snapshoot {
  width: 250px;
  height: 160px;
  padding-left: 22px;
  padding-top: 33px;
}

.project.name {
  color: #172b4d;
  font-size: 20px;
  margin-bottom: 0px;
}

.devs {
  display: flex;
  align-items: baseline;
}

.dev.name {
  color: #344563;
  font-size: 13px;
  font-weight: 500;
}

.dev.info {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  padding-left: 20px;
}

.project.info {
  font-size: 16px;
  width: 320px;
  color: #344563;
}

.project-langs {
  display: flex;
  align-items: baseline;
  gap: 20px;
  color: #6070ff;
}

.lang.name {
  font-size: 15px;
  padding-left: 10px;
}

.project-link {
  color: #396df2;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  border: 1.5px solid #396df2;
  width: 130px;
  padding-top: 10px;
  height: 40px;
  border-radius: 12px;
}

.about {
  padding-left: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.resume-button {
  border: 1.5px solid #396df2;
  color: #396df2;
  font-size: 19px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 12px;
  width: 180px;
  height: 50px;
}

.project-button {
  border: 1.5px solid #396df2;
  color: #396df2;
  font-size: 19px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 12px;
  width: 140px;
  height: 50px;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:visited {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

.list-items {
  color: #000;
  padding-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.arrow {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.contact-form {
  width: 320px;
  margin-top: 12px;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  padding: 80px 24px;
  align-items: center;
  background-color: #6070ff;
  background-image: url("../images/footer-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-form-info h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-form-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

.contact-form input,
textarea {
  width: 285px;
  margin-top: 18px;
  padding: 15px 16px;
  border-radius: 8px;
  border: none;
}

.contact-form .contact-button {
  border: 1.5px solid #396df2;
  color: #396df2;
  font-size: 19px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 12px;
  width: 180px;
  height: 50px;
}

.contact-form .contact-button:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

.contact-form .contact-button:visited {
  background-color: #2230d2;
  color: white;
}

.contact-form .contact-button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

.bottom-line {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 50px;
}

/* Desktop Style */

@media (min-width: 1080px) {
  .logo-top {
    padding-left: 100px;
  }

  .menu-button-burger {
    display: none;
  }

  .nav-menu {
    display: flex;
    gap: 10px;
    margin-left: 500px;
  }

  .menu-item {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }

  .headline {
    background-image: url("../images/header-bg-pc.png");
    background-repeat: no-repeat;
    margin: 0 30px;
    height: 110vh;
  }

  .headline-box {
    margin: 130px 250px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  .main-heading {
    font-size: 48px;
  }

  .details {
    font-size: 20px;
    width: 100%;
  }

  .projects {
    grid-gap: 100px;
  }

  .project {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .snapshoot.body1,
  .snapshoot.body2 {
    width: 550px;
    height: 400px;
    background-color: white;
  }

  .project.snapshoot {
    width: 550px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  .project-details {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .snapshoot.body2.bodyOrder {
    order: 2;
  }

  .project-details.detailOrder {
    order: 1;
  }

  .project.name {
    font-weight: bold;
    font-size: 40px;
    color: #091e42;
  }

  .dev.name {
    font-size: 18px;
  }

  .dev.info {
    color: #6b778c;
    font-size: 18px;
  }

  .project.info {
    width: 550px;
  }

  .about {
    flex-direction: row;
    margin: 100px 140px;
    gap: 80px;
  }

  .about-section {
    width: 40%;
  }

  
}
