/* stylesheet */


.header-nav {
  margin-left: 150px;
  display: flex;
}

.logo-top {
  width: 200px;
  height: 50px;
}

.nav {
  padding-left: 550px;
  padding-top: 10px;
}

.nav-menu {
  width: 63px;
  height: 20px;
  position: static;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #344563;
  text-decoration: none;
  padding-left: 20px;
}

a:hover {
    color: blue;
}

.headline {
  background-image: url("../images/headline-bg.png");
  background-repeat: no-repeat;
  position: absolute; 
  background-size: 1350px;
  width: 1250px;
  height: 600px;
  margin-left: 30px;
  margin-left: 30px;
  margin-top: 40px;
  
}

.main-heading {
  padding-left: 220px;
  padding-top: 130px;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
  
}

.details {
  padding-left: 220px;
  color: #344563;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
}